/* @font-face {
  font-family: Aeroport;
  font-weight: 700;
  src: url(../fonts/Aeroport-Bold.woff2) format("woff2");
}

@font-face {
  font-family: Aeroport;
  font-weight: 400;
  src: url(../fonts/Aeroport-medium.woff2) format("woff2");
} */
